
#currentOver {
    display: flex;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    margin-bottom: 10px;
    justify-content: space-around;
}

.currentBall {
    border: 1px solid black;
    border-radius: 50%;
    background-color: #f1f1f1;
    width: 80px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
}