
#controlPanelDiv{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: auto;
    background-color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
}
#controlPanelDiv >p{
    text-align: center;
    font-weight: 500;
    padding: 10px;
}

.controlPanel {
    display: flex;
    gap: 10px;  
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .row1,
  .row2 {
    padding: 15px;  
    font-size: 16px;     
    border: 1px solid #ccc; 
    background-color: #f0f0f0; 
    cursor: pointer;  
    border-radius: 50%; 
    width: 50px;  
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s ease; 
  }

  /* Optional: Add hover effect for better interactivity */
  .row1:hover, .row2:hover {
    background-color: #e0e0e0; 
  }

  .row2[style="border: none;"] {
    border: none; 
  }