#score{
    font-weight: 700;
    font-size: 70px;
    margin: 0px auto;
    text-align: center;
    color: aliceblue;
}

#wicket{
    color: aliceblue;
    margin: 0px auto;
    text-align: center;
}
